

body {
    font-family: 'Didact Gothic', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #111315;
}


button{
    cursor: pointer;
}



#container{
    display: flex;
    width: 100%;
    height: 100vh;
}

/* side-bar styling */
#side-bar {
    
    background-color: #0C0E10;
    width: 20%;
    color: white;
    overflow: hidden;
    position: fixed;
    height: 100vh;
    
}

#menu-text{
    font-size: 22px;
}

#slogan-text{
    color: #FF2424;
}

a{
    text-decoration-style: nones;
    color: white;
}


.avatar{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
 
.avatar .avatar-img{
    width: 70%;
}

.avatar-img img{
    width: 100%;
}

#side-links{
    margin: 25px 0px;
}
#side-links ol li{
    margin: 5px 0px;
}
#side-aboutus ol li{
    margin: 5px 0px;
}



#side-links #quick-link{
    display: flex;
    justify-content: center;
    align-items: center;
}



#side-aboutus #about-us{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* main-styling */

#main-content{
    background-color: #111315;
    width: 80%;
    color: white;
    margin-left: 21%;

}



/* main content header styling */

#main-content header{
    display: flex;
    height: 65px;
    align-items: center;
    justify-content: space-between;
}

header #search-div{
    width: 75%;
    height: 31px;
}
header #search-div input{
    width: 98%;
    height: 95%;
    border-radius: 7px;
    background-color: #272A30;
    border: none;
}

header #header-btn{
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 31px;
}
#header-btn button {
    height: 100%;
    width: 28%;
    background-color: #FF2424;
    color: white;
    border: none;
}
#header-btn #header-profile-img {
    border-radius: 50%;
    width: 13%;
}
#header-btn #header-profile-img img{
    object-fit: cover;
    width: 112%;
}



/* banner */

main #main-banner{
    width: 100%;
    height: 350px;
}

#main-banner img{
    width: 99%;
    /* object-fit: contain; */
    height: 100%;
}


/* item content */

#item-content #items-section{
    
    display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}
#items-section .item-card{
    width: 97%;
    border-radius: 7px;
    background-color: #191D20;
}

.card-img{
    width: 96%;
    margin: 7px;
}
.card-img img{
    width: 100%;
}

.card-description{
    display: flex;
    justify-content: space-between;
    margin: 7px;
}

